<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>label</th>
      <th>predict</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th>22</th>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>31</th>
      <td>5</td>
      <td>4</td>
    </tr>
  </tbody>
</table>