<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>predict</th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
    <tr>
      <th>label</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>743</td>
      <td>19</td>
      <td>41</td>
      <td>15</td>
      <td>26</td>
      <td>4</td>
      <td>12</td>
      <td>17</td>
      <td>76</td>
      <td>47</td>
    </tr>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>850</td>
      <td>8</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>8</td>
      <td>3</td>
      <td>20</td>
      <td>89</td>
    </tr>
    <tr>
      <th>2</th>
      <td>63</td>
      <td>5</td>
      <td>525</td>
      <td>49</td>
      <td>150</td>
      <td>68</td>
      <td>67</td>
      <td>39</td>
      <td>16</td>
      <td>18</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20</td>
      <td>11</td>
      <td>61</td>
      <td>490</td>
      <td>99</td>
      <td>179</td>
      <td>61</td>
      <td>38</td>
      <td>14</td>
      <td>27</td>
    </tr>
    <tr>
      <th>4</th>
      <td>23</td>
      <td>3</td>
      <td>47</td>
      <td>54</td>
      <td>740</td>
      <td>28</td>
      <td>34</td>
      <td>61</td>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>1</td>
      <td>33</td>
      <td>163</td>
      <td>71</td>
      <td>622</td>
      <td>23</td>
      <td>49</td>
      <td>15</td>
      <td>11</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>8</td>
      <td>36</td>
      <td>57</td>
      <td>55</td>
      <td>24</td>
      <td>808</td>
      <td>2</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>13</td>
      <td>2</td>
      <td>27</td>
      <td>31</td>
      <td>63</td>
      <td>65</td>
      <td>6</td>
      <td>771</td>
      <td>2</td>
      <td>20</td>
    </tr>
    <tr>
      <th>8</th>
      <td>56</td>
      <td>39</td>
      <td>8</td>
      <td>13</td>
      <td>11</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>826</td>
      <td>30</td>
    </tr>
    <tr>
      <th>9</th>
      <td>23</td>
      <td>77</td>
      <td>7</td>
      <td>13</td>
      <td>9</td>
      <td>4</td>
      <td>6</td>
      <td>11</td>
      <td>29</td>
      <td>821</td>
    </tr>
  </tbody>
</table>