<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>predict</th>
      <th>0</th>
      <th>1</th>
    </tr>
    <tr>
      <th>label</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>153</td>
      <td>16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>33</td>
      <td>62</td>
    </tr>
  </tbody>
</table>