<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>label</th>
      <th>predict</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>445</th>
      <td>6</td>
      <td>0</td>
    </tr>
    <tr>
      <th>449</th>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>582</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>740</th>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>938</th>
      <td>3</td>
      <td>5</td>
    </tr>
  </tbody>
</table>