<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>label</th>
      <th>predict</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>340</th>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>582</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>583</th>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>659</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>674</th>
      <td>5</td>
      <td>3</td>
    </tr>
  </tbody>
</table>